<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  </div>
<div>
  <h3>What happens to popular* candidates?</h3>
  <h5>*congresspeople who won more that 50% of the vote share</h5>
<canvas class="my-4 w-100 chartjs-render-monitor" id="pieChart" width="531" height="224" style="display: block; width: 531px; height: 224px;"></canvas>
</div>
<div>
  <h3>Voter Turnout in Illinois</h3>
<canvas class="my-4 w-100 chartjs-render-monitor" id="barChart" width="531" height="224" style="display: block; width: 531px; height: 224px;"></canvas>
</div>
